.hover-effect-navbar {
  --s: 0.1em;
  /* the thickness of the line */
  --c: #d9971c;
  /* the color */

  color: #d9971c;
  padding-bottom: var(--s);
  background:
    linear-gradient(90deg, var(--c) 50%, #ffffff 0) calc(100% - var(--_p, 0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

.hover-effect-navbar:hover {
  --_p: 100%
}