.main-box {
    height: auto;
    background-color: bisque;
    display: grid;
    justify-items: center;
}

.main-heading {
    display: grid;
    justify-items: center;
    margin-top: 20px;
}

.card-new-arrivals {
    position: relative;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
    overflow: hidden;
}

.hover-overlay-NewArrivals {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-new-arrivals :hover {
    transform: scale(1.1);
    opacity: 1;
}

.hover-overlay-NewArrivals button {
    color: #000000;
    background-color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hover-overlay-NewArrivals button:hover {
    transform: scale(1.1);
    background-color: #cb8161;
}

.NewArrivals-product-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 8px;
}

.NewArrivals-product-price {
    font-weight: bold;
    margin-bottom: 4px;
}

.NewArrivals-product-rating {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.star-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 4px;
}

.filled-star {
    color: #ffbb00;
}

.empty-star {
    color: white;
}

.NewArrivals-product-name {
    font-size: 14px;
}

.photoCardsNewArrivals {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.show-NewArrivals {
    color: rgb(34, 31, 31) !important;
    width: 100%;
    border-radius: 0;
    background-color: white !important;
    border-color: white !important;
}

.show-NewArrivals:hover {
    border-color: #cb8161 !important;
    background-color: #cb8161 !important;
    /* transition: background-color 0.3s ease; */
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}