.slider-container-review {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80%;
    background-color: antiquewhite;
    overflow: hidden;
}

.review-image {
    background-color: antiquewhite;
}

.review-image img {
    width: 100%;
    max-width: 40vw;
    height: 80vh;
    padding: 60px;
    object-position: center;
}

.review-details {
    /* flex: 1; */
    padding: 60px;
    transition: transform 0.5s ease;
}

.slide-next .review-details {
    transform: translateX(-100%);
}

.review-name {
    font-weight: bold;
}

.review-rating {
    display: flex;
    align-items: center;
}

.star-icon {
    margin-top: 20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.filled-star {
    color: gold;
}

.empty-star {
    color: gray;
}

.next-Review {
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: none;
    margin: 20px;
}

.next-Review:hover {
    background-color: #cb8161;
}

.star-icon-review {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 4px;
}

.filled-star-review {
    color: #ffbb00;
}

.empty-star-review {
    color: white;
}


@media (max-width: 768px) {
    .slider-container-review {
        flex-direction: column;
    }

    .review-image img {
        width: 100%;
        max-width: 80vw;
        height: auto;
        padding: 0;
        object-position: center;
    }

    .slide-next .review-details {
        transform: translateY(-100%);
    }

    .next-Review {
        top: auto;
        bottom: 10px;
        right: 50%;
        transform: translateX(50%);
    }
}